# Analysis of Wordle dataset

This document aims to analyse all of the words within wordle dictionary to suggest best possible words that could be used for guessing the wordle words.

## Install dependencies

In [2]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/zryw/.local/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: numpy>=1.21.0 in /home/zryw/.local/lib/python3.10/site-packages (from pandas) (1.25.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/zryw/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/zryw/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Load data form files

In [49]:
from IPython.display import display
import pandas

def load_data_from_csv(file):
    return pandas.read_csv(file, header=None)

la = load_data_from_csv('./data/wordle-la.txt')
ta = load_data_from_csv('./data/wordle-ta.txt')


dataset = pandas.concat([la, ta])

dataset_size = dataset.size

%store dataset

print(f"Loaded {dataset_size} rows")

Stored 'dataset' (DataFrame)
Loaded 12972 rows

## List popularity of each letter in each place

In [90]:
data = pandas.DataFrame([list(d[1][0]) for d in dataset.iterrows()])
data = data.apply(pandas.value_counts)

most_popular = data.sum(axis=1).sort_values(ascending = False)

data = data.loc[most_popular.index, :]

%store most_popular
%store data

display(data)

Stored 'most_popular' (Series)
Stored 'data' (DataFrame)

      0     1     2     3     4
a   737  2263  1236  1074   680
b   909    81   335   243    59
c   922   176   392   411   127
d   685    84   390   471   823
e   303  1628   882  2327  1522
f   598    24   178   233    82
g   638    76   364   423   143
h   489   546   120   235   370
i   165  1383  1051   880   280
j   202    11    46    29     3
k   376    95   272   503   259
l   577   699   848   771   476
m   693   188   511   402   182
n   325   345   964   788   530
o   262  2096   993   698   389
p   859   231   364   418   147
q    78    15    13     2     4
r   628   940  1198   719   673
s  1565    93   533   516  3958
t   815   239   616   898   727
u   189  1187   667   401    67
v   242    52   240   156     4
w   413   163   271   128    64
x    16    57   133    12    70
y   181   271   213   108  1301
z   105    29   142   126    32

In [74]:

display()

s    6665
e    6662
a    5990
o    4438
r    4158
i    3759
l    3371
t    3295
n    2952
u    2511
d    2453
y    2074
c    2028
p    2019
m    1976
h    1760
g    1644
b    1627
k    1505
f    1115
w    1039
v     694
z     434
j     291
x     288
q     112
dtype: int64